<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
    <link rel="stylesheet" href="./stylesheet/table_dark.css">
</head>

<body>
<!--/*@thymesVar id="owner" type="com.javid.springframework.sfgpetclinicintellij.model.Owner"*/-->
<h1 th:text="'Owners List'"></h1>

<table class="darkTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td>&nbsp;&nbsp;_&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;_&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;_&nbsp;&nbsp;</td>
    </tr>
    </tfoot>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.getId()}">0</td>
        <td th:text="${owner?.getFirstName()}">-</td>
        <td th:text="${owner?.getLastName()}">-</td>
    </tr>
    </tbody>
</table>

</body>
</html>