<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'vets')}">

<body>
<!--/*@thymesVar id="vet" type="com.javid.springframework.sfgpetclinicintellij.model.Vet"*/-->
<h2 th:text="#{vets}"></h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.firstName + ' ' + vet?.lastName}"></td>
        <td>
            <span th:each="specialty, iter : ${vet?.specialties}"
                  th:text="${(iter.index > 0 ? ' - ': '') + specialty.description}"></span>
            <span th:if="${#sets.isEmpty(vet?.specialties)}">none</span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>